.container
  .next_info.hide
    .dec_block
    ul
      li.tenthou 下一個萬日
        .howmany 
        .next_date 
      //- .dec_dot
      li.thou 下一個千日
        .howmany 
        .next_date 
      //- .dec_dot
      li.hund 下一個百日
        .howmany 
        .next_date 
    .dec_block
  .tag_container
    .tag Ver. beta
  .card
    .title Day Calculator
    .dec_block
    .top    
      .text
        .content 今天
        .content 是你
      .show ?
      span Days
    .dec_block
    .bottom
      //- .hint 請輸入：
      .input
        input.year(placeholder="西元年" value=1993)
        input.month(placeholder="月" value=1)
        input.day(placeholder="日" value=24)
        button 算！
      //- i.fas.fa-hourglass-half
//- .countdown_bar
  .bar.hour


